/* Classe para a logo */
.logo {
  width: 100px;   /* controla a largura */
  height: auto;   /* mantém proporção */
}

.navbar {
  background-color: #3AABDD; /* cor do fundo */
}
.header{
    background-color: #3AABDD;
    height: 160px;
}

.nav-link{
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-link:hover{
    color:#dfdfdf;
}
.nav-link.active{
    color: white;
}



.main-content {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  box-sizing: border-box;

  /* Fundo com imagem + cor */
  background-color: #80b4d6;
  background-image: url("../imagem/pegada-hidrica.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply; /* ou overlay, lighten, etc */
}


/* Título */
.main-content h1 {
  color: white;
  text-align: center;       /* mantém o título centralizado */
  padding-top: 50px;
  font-size: 4.5rem;
  margin-bottom: 20px;
}

.main-content .author {
  color: white;
  text-align: right;        /* autor alinhado à direita */
  font-size: 2rem;          /* tamanho menor que o título */
  margin-top: 10px;
  width: 100%;              /* garante que ocupe toda a largura da div */
}

.custom-footer {
  color: white;
  background-color: #3AABDD !important; /* cor de fundo */
}

/* Responsivo */
@media (max-width: 768px) {
  .main-content h1 {
    font-size: 2.5rem;
  }
  .main-content p {
    font-size: 1.2rem;
  }
}
